In [59]:
import pandas as pd, numpy as np
import category_encoders as ce

In [60]:
data = {'Temperature':['Hot','Cold','Very Hot','Warm','Hot','Warm','Warm','Hot','Hot','Cold'],
        'Color':['Red','Yellow','Blue','Blue','Red','Yellow','Red','Yellow','Yellow','Yellow'],
        'Target':[1,1,1,0,1,0,1,0,1,1]}
df = pd.DataFrame(data)
df

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3        Warm    Blue       0
4         Hot     Red       1
5        Warm  Yellow       0
6        Warm     Red       1
7         Hot  Yellow       0
8         Hot  Yellow       1
9        Cold  Yellow       1

## One Hot Encoding

In [61]:
df_onhot = df.copy()
one_hot_1 = pd.get_dummies(df_onhot, prefix = 'Temp', columns = ['Temperature'], drop_first=False)
one_hot_1.insert(loc=2, column='Temperature', value=df.Temperature.values)
one_hot_1
# pd.get_dummies tạo biến giả để mã hoá dữ liệu với prefix là chuổi để nối thêm cột,columns cột cần mã hoá, drop_first xoá cột đầu tiên sau khi mã hoá
# có 4 Temperature nên sẽ có 4 cột về temperature

    Color  Target Temperature  Temp_Cold  Temp_Hot  Temp_Very Hot  Temp_Warm
0     Red       1         Hot          0         1              0          0
1  Yellow       1        Cold          1         0              0          0
2    Blue       1    Very Hot          0         0              1          0
3    Blue       0        Warm          0         0              0          1
4     Red       1         Hot          0         1              0          0
5  Yellow       0        Warm          0         0              0          1
6     Red       1        Warm          0         0              0          1
7  Yellow       0         Hot          0         1              0          0
8  Yellow       1         Hot          0         1              0          0
9  Yellow       1        Cold          1         0              0          0

In [62]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()
ohe_array = ohe.fit_transform(df['Temperature'].values.reshape(-1,1)).toarray()
oh_df = pd.DataFrame(ohe_array, columns=['Temp_Cold','Temp_Hot','Temp_Very_Hot','Temp_Warm'])
df_of_df = pd.concat([df,oh_df],axis=1)
print(oh_df) 
print(df_of_df)
print(ohe_array)

   Temp_Cold  Temp_Hot  Temp_Very_Hot  Temp_Warm
0        0.0       1.0            0.0        0.0
1        1.0       0.0            0.0        0.0
2        0.0       0.0            1.0        0.0
3        0.0       0.0            0.0        1.0
4        0.0       1.0            0.0        0.0
5        0.0       0.0            0.0        1.0
6        0.0       0.0            0.0        1.0
7        0.0       1.0            0.0        0.0
8        0.0       1.0            0.0        0.0
9        1.0       0.0            0.0        0.0
  Temperature   Color  Target  Temp_Cold  Temp_Hot  Temp_Very_Hot  Temp_Warm
0         Hot     Red       1        0.0       1.0            0.0        0.0
1        Cold  Yellow       1        1.0       0.0            0.0        0.0
2    Very Hot    Blue       1        0.0       0.0            1.0        0.0
3        Warm    Blue       0        0.0       0.0            0.0        1.0
4         Hot     Red       1        0.0       1.0            0.0        0.0
5        Warm  Yellow       0        0.0       0.0            0.0        1.0
6        Warm     Red       1        0.0       0.0            0.0        1.0
7         Hot  Yellow       0        0.0       1.0            0.0        0.0
8         Hot  Yellow       1        0.0       1.0            0.0        0.0
9        Cold  Yellow       1        1.0       0.0            0.0        0.0
[[0. 1. 0. 0.]
 [1. 0. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]
 [0. 1. 0. 0.]
 [0. 0. 0. 1.]
 [0. 0. 0. 1.]
 [0. 1. 0. 0.]
 [0. 1. 0. 0.]
 [1. 0. 0. 0.]]

In [63]:
# Chuyển giá trị Boolean thành Binary
# Sử dụng category_encoders 
import category_encoders as ce

ohe = ce.OneHotEncoder(cols=['Temperature'])
ce_ohe = ohe.fit_transform(df.iloc[:,0], df.iloc[:,-1])
ce_ohe.columns = ['Temp_Hot','Temp_Cold','Temp_Very_Hot','Temp_Warm']
pd.concat([df,ce_ohe], axis=1)

  Temperature   Color  Target  Temp_Hot  Temp_Cold  Temp_Very_Hot  Temp_Warm
0         Hot     Red       1         1          0              0          0
1        Cold  Yellow       1         0          1              0          0
2    Very Hot    Blue       1         0          0              1          0
3        Warm    Blue       0         0          0              0          1
4         Hot     Red       1         1          0              0          0
5        Warm  Yellow       0         0          0              0          1
6        Warm     Red       1         0          0              0          1
7         Hot  Yellow       0         1          0              0          0
8         Hot  Yellow       1         1          0              0          0
9        Cold  Yellow       1         0          1              0          0

## Label Encoding

In [64]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_onhot['Temperature_encoded'] = le.fit_transform(df.Temperature)
df_onhot

  Temperature   Color  Target  Temperature_encoded
0         Hot     Red       1                    1
1        Cold  Yellow       1                    0
2    Very Hot    Blue       1                    2
3        Warm    Blue       0                    3
4         Hot     Red       1                    1
5        Warm  Yellow       0                    3
6        Warm     Red       1                    3
7         Hot  Yellow       0                    1
8         Hot  Yellow       1                    1
9        Cold  Yellow       1                    0

In [65]:
fact = df.copy()
fact['Temperature_factor'] = pd.factorize(df.Temperature)[0]
fact

  Temperature   Color  Target  Temperature_factor
0         Hot     Red       1                   0
1        Cold  Yellow       1                   1
2    Very Hot    Blue       1                   2
3        Warm    Blue       0                   3
4         Hot     Red       1                   0
5        Warm  Yellow       0                   3
6        Warm     Red       1                   3
7         Hot  Yellow       0                   0
8         Hot  Yellow       1                   0
9        Cold  Yellow       1                   1

## Odinal encoding

In [66]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
oe_val = oe.fit_transform(df['Temperature'].values.reshape(-1, 1))
pd.concat([df,pd.DataFrame(oe_val,columns=['Temperature_Oe'])],axis=1)

  Temperature   Color  Target  Temperature_Oe
0         Hot     Red       1             1.0
1        Cold  Yellow       1             0.0
2    Very Hot    Blue       1             2.0
3        Warm    Blue       0             3.0
4         Hot     Red       1             1.0
5        Warm  Yellow       0             3.0
6        Warm     Red       1             3.0
7         Hot  Yellow       0             1.0
8         Hot  Yellow       1             1.0
9        Cold  Yellow       1             0.0

In [67]:
import category_encoders as ce
ohe = ce.OrdinalEncoder(cols=['Temperature'])
df['Temp_ce_oe'] = ohe.fit_transform(df.iloc[:,0], df.iloc[:,-1])
df

  Temperature   Color  Target  Temp_ce_oe
0         Hot     Red       1           1
1        Cold  Yellow       1           2
2    Very Hot    Blue       1           3
3        Warm    Blue       0           4
4         Hot     Red       1           1
5        Warm  Yellow       0           4
6        Warm     Red       1           4
7         Hot  Yellow       0           1
8         Hot  Yellow       1           1
9        Cold  Yellow       1           2

In [68]:
Tem_order = {'Cold' : 1 , 'Warm' : 2, 'Hot' : 3, 'Very Hot' : 4}
df['Temperature_Order'] = df.Temperature.map(Tem_order)
df

  Temperature   Color  Target  Temp_ce_oe  Temperature_Order
0         Hot     Red       1           1                  3
1        Cold  Yellow       1           2                  1
2    Very Hot    Blue       1           3                  4
3        Warm    Blue       0           4                  2
4         Hot     Red       1           1                  3
5        Warm  Yellow       0           4                  2
6        Warm     Red       1           4                  2
7         Hot  Yellow       0           1                  3
8         Hot  Yellow       1           1                  3
9        Cold  Yellow       1           2                  1

## Frequency or Count Encoder

In [69]:
cat_freq = df.groupby('Temperature').size() / len(df)
print(cat_freq)
df['Temp_Freq_Enc'] = df.Temperature.map(cat_freq)
df

Temperature
Cold        0.2
Hot         0.4
Very Hot    0.1
Warm        0.3
dtype: float64

  Temperature   Color  Target  Temp_ce_oe  Temperature_Order  Temp_Freq_Enc
0         Hot     Red       1           1                  3            0.4
1        Cold  Yellow       1           2                  1            0.2
2    Very Hot    Blue       1           3                  4            0.1
3        Warm    Blue       0           4                  2            0.3
4         Hot     Red       1           1                  3            0.4
5        Warm  Yellow       0           4                  2            0.3
6        Warm     Red       1           4                  2            0.3
7         Hot  Yellow       0           1                  3            0.4
8         Hot  Yellow       1           1                  3            0.4
9        Cold  Yellow       1           2                  1            0.2

In [70]:
import category_encoders as ce
ce = ce.CountEncoder(cols=['Temperature'])
df['Temp_Count_Enc'] = ce.fit_transform(df.iloc[:,0], df.iloc[:,1])
# print(df.iloc[:,1])
df

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc
0,Hot,Red,1,1,3,0.4,4
1,Cold,Yellow,1,2,1,0.2,2
2,Very Hot,Blue,1,3,4,0.1,1
3,Warm,Blue,0,4,2,0.3,3
4,Hot,Red,1,1,3,0.4,4
5,Warm,Yellow,0,4,2,0.3,3
6,Warm,Red,1,4,2,0.3,3
7,Hot,Yellow,0,1,3,0.4,4
8,Hot,Yellow,1,1,3,0.4,4
9,Cold,Yellow,1,2,1,0.2,2

In [71]:
import category_encoders as ce
ce = ce.CountEncoder(cols=['Temperature'])
df['Temp_Count_Enc'] = ce.fit_transform(df.iloc[:,0])
# print(df.iloc[:,1])
df

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc
0,Hot,Red,1,1,3,0.4,4
1,Cold,Yellow,1,2,1,0.2,2
2,Very Hot,Blue,1,3,4,0.1,1
3,Warm,Blue,0,4,2,0.3,3
4,Hot,Red,1,1,3,0.4,4
5,Warm,Yellow,0,4,2,0.3,3
6,Warm,Red,1,4,2,0.3,3
7,Hot,Yellow,0,1,3,0.4,4
8,Hot,Yellow,1,1,3,0.4,4
9,Cold,Yellow,1,2,1,0.2,2

## Binary encoding

In [72]:
import category_encoders as ce
be = ce.BinaryEncoder(cols=['Temperature'])
be_df = be.fit_transform(df['Temperature'])
pd.concat([df,be_df], axis=1)

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_0,Temperature_1,Temperature_2
0,Hot,Red,1,1,3,0.4,4,0,0,1
1,Cold,Yellow,1,2,1,0.2,2,0,1,0
2,Very Hot,Blue,1,3,4,0.1,1,0,1,1
3,Warm,Blue,0,4,2,0.3,3,1,0,0
4,Hot,Red,1,1,3,0.4,4,0,0,1
5,Warm,Yellow,0,4,2,0.3,3,1,0,0
6,Warm,Red,1,4,2,0.3,3,1,0,0
7,Hot,Yellow,0,1,3,0.4,4,0,0,1
8,Hot,Yellow,1,1,3,0.4,4,0,0,1
9,Cold,Yellow,1,2,1,0.2,2,0,1,0

## Base-N encoder

In [73]:
bne = ce.BaseNEncoder(cols=['Temperature'], base=2)
bne_df = bne.fit_transform(df['Temperature'], df.Target)
pd.concat([df, bne_df], axis=1)

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_0,Temperature_1,Temperature_2
0,Hot,Red,1,1,3,0.4,4,0,0,1
1,Cold,Yellow,1,2,1,0.2,2,0,1,0
2,Very Hot,Blue,1,3,4,0.1,1,0,1,1
3,Warm,Blue,0,4,2,0.3,3,1,0,0
4,Hot,Red,1,1,3,0.4,4,0,0,1
5,Warm,Yellow,0,4,2,0.3,3,1,0,0
6,Warm,Red,1,4,2,0.3,3,1,0,0
7,Hot,Yellow,0,1,3,0.4,4,0,0,1
8,Hot,Yellow,1,1,3,0.4,4,0,0,1
9,Cold,Yellow,1,2,1,0.2,2,0,1,0

## Helmert Encoding

In [74]:
import category_encoders as ce
he = ce.HelmertEncoder(cols=['Temperature'])
he_df = he.fit_transform(df['Temperature'])
pd.concat([df,he_df],axis=1)

c:\Users\Minh\AppData\Local\anaconda3\Lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
c:\Users\Minh\AppData\Local\anaconda3\Lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,intercept,Temperature_0,Temperature_1,Temperature_2
0,Hot,Red,1,1,3,0.4,4,1,-1.0,-1.0,-1.0
1,Cold,Yellow,1,2,1,0.2,2,1,1.0,-1.0,-1.0
2,Very Hot,Blue,1,3,4,0.1,1,1,0.0,2.0,-1.0
3,Warm,Blue,0,4,2,0.3,3,1,0.0,0.0,3.0
4,Hot,Red,1,1,3,0.4,4,1,-1.0,-1.0,-1.0
5,Warm,Yellow,0,4,2,0.3,3,1,0.0,0.0,3.0
6,Warm,Red,1,4,2,0.3,3,1,0.0,0.0,3.0
7,Hot,Yellow,0,1,3,0.4,4,1,-1.0,-1.0,-1.0
8,Hot,Yellow,1,1,3,0.4,4,1,-1.0,-1.0,-1.0
9,Cold,Yellow,1,2,1,0.2,2,1,1.0,-1.0,-1.0

## Mean encoding or Taget encoding

In [75]:
import category_encoders as ce
te = ce.TargetEncoder(cols=['Temperature'])
df['Temperature_ce_TarEnc'] = te.fit_transform(df['Temperature'], df.Target)
df

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc
0,Hot,Red,1,1,3,0.4,4,0.708399
1,Cold,Yellow,1,2,1,0.2,2,0.742555
2,Very Hot,Blue,1,3,4,0.1,1,0.739033
3,Warm,Blue,0,4,2,0.3,3,0.643363
4,Hot,Red,1,1,3,0.4,4,0.708399
5,Warm,Yellow,0,4,2,0.3,3,0.643363
6,Warm,Red,1,4,2,0.3,3,0.643363
7,Hot,Yellow,0,1,3,0.4,4,0.708399
8,Hot,Yellow,1,1,3,0.4,4,0.708399
9,Cold,Yellow,1,2,1,0.2,2,0.742555

In [76]:
tar_enc = df.groupby('Temperature')['Target'].mean()
print(tar_enc)
df['Temperature_ce_enc'] = df['Temperature'].map(tar_enc)
df

Temperature
Cold        1.000000
Hot         0.750000
Very Hot    1.000000
Warm        0.333333
Name: Target, dtype: float64

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc,Temperature_ce_enc
0,Hot,Red,1,1,3,0.4,4,0.708399,0.750000
1,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000
2,Very Hot,Blue,1,3,4,0.1,1,0.739033,1.000000
3,Warm,Blue,0,4,2,0.3,3,0.643363,0.333333
4,Hot,Red,1,1,3,0.4,4,0.708399,0.750000
5,Warm,Yellow,0,4,2,0.3,3,0.643363,0.333333
6,Warm,Red,1,4,2,0.3,3,0.643363,0.333333
7,Hot,Yellow,0,1,3,0.4,4,0.708399,0.750000
8,Hot,Yellow,1,1,3,0.4,4,0.708399,0.750000
9,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000

## Weight of evidence encoding

In [77]:
woe = ce.WOEEncoder(cols=['Temperature'])
df['Temperature_ce_WOE'] = woe.fit_transform(df['Temperature'], df.Target)
df

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc,Temperature_ce_enc,Temperature_ce_WOE
0,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361
1,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826
2,Very Hot,Blue,1,3,4,0.1,1,0.739033,1.000000,0.000000
3,Warm,Blue,0,4,2,0.3,3,0.643363,0.333333,-0.993252
4,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361
5,Warm,Yellow,0,4,2,0.3,3,0.643363,0.333333,-0.993252
6,Warm,Red,1,4,2,0.3,3,0.643363,0.333333,-0.993252
7,Hot,Yellow,0,1,3,0.4,4,0.708399,0.750000,0.105361
8,Hot,Yellow,1,1,3,0.4,4,0.708399,0.750000,0.105361
9,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826

## Sum encoder (Deviation encoding or effect encoding)

In [78]:
se = ce.SumEncoder(cols=['Temperature'])
se_df = se.fit_transform(df['Temperature'], df.Target)
pd.concat([df,se_df], axis=1)

c:\Users\Minh\AppData\Local\anaconda3\Lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
c:\Users\Minh\AppData\Local\anaconda3\Lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc,Temperature_ce_enc,Temperature_ce_WOE,intercept,Temperature_0,Temperature_1,Temperature_2
0,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,1,1.0,0.0,0.0
1,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1,0.0,1.0,0.0
2,Very Hot,Blue,1,3,4,0.1,1,0.739033,1.000000,0.000000,1,0.0,0.0,1.0
3,Warm,Blue,0,4,2,0.3,3,0.643363,0.333333,-0.993252,1,-1.0,-1.0,-1.0
4,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,1,1.0,0.0,0.0
5,Warm,Yellow,0,4,2,0.3,3,0.643363,0.333333,-0.993252,1,-1.0,-1.0,-1.0
6,Warm,Red,1,4,2,0.3,3,0.643363,0.333333,-0.993252,1,-1.0,-1.0,-1.0
7,Hot,Yellow,0,1,3,0.4,4,0.708399,0.750000,0.105361,1,1.0,0.0,0.0
8,Hot,Yellow,1,1,3,0.4,4,0.708399,0.750000,0.105361,1,1.0,0.0,0.0
9,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1,0.0,1.0,0.0

## Leave-one-out encoder (loo or looe)

In [79]:
looe = ce.LeaveOneOutEncoder(cols=['Temperature'])
df['temperature_ce_LOOE'] = looe.fit_transform(df['Temperature'], df.Target)
df

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc,Temperature_ce_enc,Temperature_ce_WOE,temperature_ce_LOOE
0,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667
1,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000
2,Very Hot,Blue,1,3,4,0.1,1,0.739033,1.000000,0.000000,0.700000
3,Warm,Blue,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000
4,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667
5,Warm,Yellow,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000
6,Warm,Red,1,4,2,0.3,3,0.643363,0.333333,-0.993252,0.000000
7,Hot,Yellow,0,1,3,0.4,4,0.708399,0.750000,0.105361,1.000000
8,Hot,Yellow,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667
9,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000

## CatBoost encoder

In [81]:
cbe = ce.CatBoostEncoder(cols=['Temperature'])
df['Temperature_ce_CBE'] = cbe.fit_transform(df['Temperature'], df.Target)
df

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc,Temperature_ce_enc,Temperature_ce_WOE,temperature_ce_LOOE,Temperature_ce_CBE
0,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.700000
1,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000,0.700000
2,Very Hot,Blue,1,3,4,0.1,1,0.739033,1.000000,0.000000,0.700000,0.700000
3,Warm,Blue,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000,0.700000
4,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.850000
5,Warm,Yellow,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000,0.350000
6,Warm,Red,1,4,2,0.3,3,0.643363,0.333333,-0.993252,0.000000,0.233333
7,Hot,Yellow,0,1,3,0.4,4,0.708399,0.750000,0.105361,1.000000,0.900000
8,Hot,Yellow,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.675000
9,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000,0.850000

## James-Stein Encoding

In [82]:
jse = ce.JamesSteinEncoder(cols=['Temperature'])
df['Temperature_ce_JSE'] = jse.fit_transform(df['Temperature'], df.Target)
df

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc,Temperature_ce_enc,Temperature_ce_WOE,temperature_ce_LOOE,Temperature_ce_CBE,Temperature_ce_JSE
0,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.700000,0.741379
1,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000,0.700000,1.000000
2,Very Hot,Blue,1,3,4,0.1,1,0.739033,1.000000,0.000000,0.700000,0.700000,1.000000
3,Warm,Blue,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000,0.700000,0.405229
4,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.850000,0.741379
5,Warm,Yellow,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000,0.350000,0.405229
6,Warm,Red,1,4,2,0.3,3,0.643363,0.333333,-0.993252,0.000000,0.233333,0.405229
7,Hot,Yellow,0,1,3,0.4,4,0.708399,0.750000,0.105361,1.000000,0.900000,0.741379
8,Hot,Yellow,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.675000,0.741379
9,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000,0.850000,1.000000

## M-estimator Encoding

In [83]:
mee = ce.MEstimateEncoder(cols=['Temperature'], m=1.0)
df['Temperature_ce_MEE'] = mee.fit_transform(df['Temperature'], df.Target)
df

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc,Temperature_ce_enc,Temperature_ce_WOE,temperature_ce_LOOE,Temperature_ce_CBE,Temperature_ce_JSE,Temperature_ce_MEE
0,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.700000,0.741379,0.740
1,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000,0.700000,1.000000,0.900
2,Very Hot,Blue,1,3,4,0.1,1,0.739033,1.000000,0.000000,0.700000,0.700000,1.000000,0.850
3,Warm,Blue,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000,0.700000,0.405229,0.425
4,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.850000,0.741379,0.740
5,Warm,Yellow,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000,0.350000,0.405229,0.425
6,Warm,Red,1,4,2,0.3,3,0.643363,0.333333,-0.993252,0.000000,0.233333,0.405229,0.425
7,Hot,Yellow,0,1,3,0.4,4,0.708399,0.750000,0.105361,1.000000,0.900000,0.741379,0.740
8,Hot,Yellow,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.675000,0.741379,0.740
9,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000,0.850000,1.000000,0.900

## Hashing encoding

In [86]:
he = ce.HashingEncoder(cols=['Temperature'], n_components=8)
he_df = he.fit_transform(df['Temperature'], df.Target)
pd.concat([df,he_df], axis=1)

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc,Temperature_ce_enc,Temperature_ce_WOE,...,Temperature_ce_JSE,Temperature_ce_MEE,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7
0,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,...,0.741379,0.740,1,0,0,0,0,0,0,0
1,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,...,1.000000,0.900,0,0,1,0,0,0,0,0
2,Very Hot,Blue,1,3,4,0.1,1,0.739033,1.000000,0.000000,...,1.000000,0.850,0,1,0,0,0,0,0,0
3,Warm,Blue,0,4,2,0.3,3,0.643363,0.333333,-0.993252,...,0.405229,0.425,0,1,0,0,0,0,0,0
4,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,...,0.741379,0.740,1,0,0,0,0,0,0,0
5,Warm,Yellow,0,4,2,0.3,3,0.643363,0.333333,-0.993252,...,0.405229,0.425,0,1,0,0,0,0,0,0
6,Warm,Red,1,4,2,0.3,3,0.643363,0.333333,-0.993252,...,0.405229,0.425,0,1,0,0,0,0,0,0
7,Hot,Yellow,0,1,3,0.4,4,0.708399,0.750000,0.105361,...,0.741379,0.740,1,0,0,0,0,0,0,0
8,Hot,Yellow,1,1,3,0.4,4,0.708399,0.750000,0.105361,...,0.741379,0.740,1,0,0,0,0,0,0,0
9,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,...,1.000000,0.900,0,0,1,0,0,0,0,0

## Backward Difference Encoding

In [85]:
bde = ce.BackwardDifferenceEncoder(cols=['Temperature'])
bde_df = bde.fit_transform(df['Temperature'],df.Target)
pd.concat([df,bde_df],axis=1)

c:\Users\Minh\AppData\Local\anaconda3\Lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
c:\Users\Minh\AppData\Local\anaconda3\Lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc,Temperature_ce_enc,Temperature_ce_WOE,temperature_ce_LOOE,Temperature_ce_CBE,Temperature_ce_JSE,Temperature_ce_MEE,intercept,Temperature_0,Temperature_1,Temperature_2
0,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.700000,0.741379,0.740,1,-0.75,-0.5,-0.25
1,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000,0.700000,1.000000,0.900,1,0.25,-0.5,-0.25
2,Very Hot,Blue,1,3,4,0.1,1,0.739033,1.000000,0.000000,0.700000,0.700000,1.000000,0.850,1,0.25,0.5,-0.25
3,Warm,Blue,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000,0.700000,0.405229,0.425,1,0.25,0.5,0.75
4,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.850000,0.741379,0.740,1,-0.75,-0.5,-0.25
5,Warm,Yellow,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000,0.350000,0.405229,0.425,1,0.25,0.5,0.75
6,Warm,Red,1,4,2,0.3,3,0.643363,0.333333,-0.993252,0.000000,0.233333,0.405229,0.425,1,0.25,0.5,0.75
7,Hot,Yellow,0,1,3,0.4,4,0.708399,0.750000,0.105361,1.000000,0.900000,0.741379,0.740,1,-0.75,-0.5,-0.25
8,Hot,Yellow,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.675000,0.741379,0.740,1,-0.75,-0.5,-0.25
9,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000,0.850000,1.000000,0.900,1,0.25,-0.5,-0.25

## Polynomial encoding

In [87]:
pe = ce.PolynomialEncoder(cols=['Temperature'])
pe_df = pe.fit_transform(df['Temperature'], df.Target)
pd.concat([df,pe_df], axis=1)

c:\Users\Minh\AppData\Local\anaconda3\Lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
c:\Users\Minh\AppData\Local\anaconda3\Lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

,Temperature,Color,Target,Temp_ce_oe,Temperature_Order,Temp_Freq_Enc,Temp_Count_Enc,Temperature_ce_TarEnc,Temperature_ce_enc,Temperature_ce_WOE,temperature_ce_LOOE,Temperature_ce_CBE,Temperature_ce_JSE,Temperature_ce_MEE,intercept,Temperature_0,Temperature_1,Temperature_2
0,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.700000,0.741379,0.740,1,-0.670820,0.5,-0.223607
1,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000,0.700000,1.000000,0.900,1,-0.223607,-0.5,0.670820
2,Very Hot,Blue,1,3,4,0.1,1,0.739033,1.000000,0.000000,0.700000,0.700000,1.000000,0.850,1,0.223607,-0.5,-0.670820
3,Warm,Blue,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000,0.700000,0.405229,0.425,1,0.670820,0.5,0.223607
4,Hot,Red,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.850000,0.741379,0.740,1,-0.670820,0.5,-0.223607
5,Warm,Yellow,0,4,2,0.3,3,0.643363,0.333333,-0.993252,0.500000,0.350000,0.405229,0.425,1,0.670820,0.5,0.223607
6,Warm,Red,1,4,2,0.3,3,0.643363,0.333333,-0.993252,0.000000,0.233333,0.405229,0.425,1,0.670820,0.5,0.223607
7,Hot,Yellow,0,1,3,0.4,4,0.708399,0.750000,0.105361,1.000000,0.900000,0.741379,0.740,1,-0.670820,0.5,-0.223607
8,Hot,Yellow,1,1,3,0.4,4,0.708399,0.750000,0.105361,0.666667,0.675000,0.741379,0.740,1,-0.670820,0.5,-0.223607
9,Cold,Yellow,1,2,1,0.2,2,0.742555,1.000000,0.510826,1.000000,0.850000,1.000000,0.900,1,-0.223607,-0.5,0.670820

## MultiLabelBinarizer

In [88]:
data = {'Type':[['fruits','vegitables'],['animals','vegitables'],['animals','fruits'],['vehicals','fruits']]}
df = pd.DataFrame(data)
df

                    Type
0   [fruits, vegitables]
1  [animals, vegitables]
2      [animals, fruits]
3     [vehicals, fruits]

In [89]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
types_encoded = pd.DataFrame(mlb.fit_transform(df['Type']),columns=mlb.classes_)
types_encoded.head()

   animals  fruits  vegitables  vehicals
0        0       1           1         0
1        1       0           1         0
2        1       1           0         0
3        0       1           0         1